body {
  background-color: #ddd;
}

main {
  padding: 3rem;
}

.drop-target {
  background-color: #f0f0f0;
  border: 1px dashed #ccc;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  height: 20rem;
  display: grid;
  place-items: center;
}

.drop-target__msg {
  color: #bbb;
  display: grid;
  place-items: center;
}

dialog {
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
}

.img-delete-wrapper {
  position: relative;
}

.img-delete-wrapper button {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 50%;
  background-color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transform: translate(50%, -50%);
}

.img-delete-wrapper .gallery__item img {
  cursor: default;
}

.img-delete-wrapper:hover button {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}
