.hero {
  background: #2d3138;
}

.hero .content {
  display: flex;
  overflow: hidden;
  padding: 0;
  max-width: 100vw;
  width: 100vw;
  height: 40rem;
  position: relative;
}

.hero figure {
  background-image: url('/images/FilmStrip.svg');
  background-size: 100%;
  padding: 6.1rem 10px;
  aspect-ratio: 654/607;
  position: absolute;
  top: 0;
  left: 0;
  width: 430px;
}

.hero figure img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.6;
}
