.hamburger-menu-icon {
  display: none;
  width: 2.5rem;
  height: 2.5rem;
}

.hamburger-menu-icon svg path {
  fill: var(--border-color);
  opacity: 0.8;
}

@media (max-width: 768px) {
  .hamburger-menu-icon {
    display: block;
  }
}
