section.who-am-i {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 87.55%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    #2d3138;
  z-index: 2;
}

.who-am-i .content {
  display: flex;
  justify-content: flex-end;
  position: relative;
  overflow: visible;
}

@media screen and (max-width: 768px) {
  .who-am-i .content {
    flex-direction: column;
    align-items: center;
  }

  .who-am-i .content img.author {
    position: unset;
    height: calc(100% - 6rem);
  }

  .who-am-i .content .text {
    max-width: 100%;
    margin-top: -10rem;
  }
}

img.author {
  position: absolute;
  left: 2rem;
  width: 100%;
  max-width: 300px;
  margin: 0 0 0 2rem;
  mix-blend-mode: lighten;
  margin-top: -6rem;
}

.who-am-i .text {
  max-width: 60%;
}
